.info {
  height: 45%;
  width: 15%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  border-color: #825d03;
  border-style: solid;
}

.icon {
  margin: 5%;
  min-height: 50px;
  max-height: 100px;
  border: 5px solid darkgoldenrod;
}

.enemy {
  top: 20px;
  right: 20px;
  background: #4a0000;
}

.player {
  top: 20px;
  left: 20px;
  background: #006147;
}

.bar {
  border-color: #825d03;
  border-style: solid;
  margin-bottom: 5%;
  height: 7%;
  width: 90%;
  position: relative;
  background: #555;
  padding: 0%;
  box-shadow: inset 0 -5px 5px rgba(255, 255, 255, 0.3);
  position: relative;
  display: flex;
  align-items: center;
}

.barValue {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 1px black;
  font-size: 85%;
}

.bar span {
  transition: width 1s;
  height: 100%;
  border-radius: 2px;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.playerHP span {
  background-color: #2bc253;
}
.playerExp span {
  background-color: #ffca45;
}

.enemyHP span {
  background-color: #e33922;
}

h2 {
  margin: 3%;
}
